@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'KakaoBigSans';
  src: url('./assets/fonts/KakaoBigSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KakaoBigSans';
  src: url('./assets/fonts/KakaoBigSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KakaoBigSans';
  src: url('./assets/fonts/KakaoBigSans-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html,
body,
#root {
  font-family: 'KakaoBigSans', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Noto Sans KR', sans-serif;
    
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
}

body {
  cursor: none;
  overflow-x: hidden;
  touch-action: pan-y;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;

  width: 22px;
  height: 22px;
  border-radius: 9999px;

  background: rgba(0, 0, 0, 0.75);
  box-shadow:
    0 0 8px rgba(0, 0, 0, 0.6),
    0 0 16px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);

  pointer-events: none;
  z-index: 9999;

  transform: translate(-50%, -50%);
  transition:
    width 0.12s ease-out,
    height 0.12s ease-out,
    opacity 0.2s ease;

  opacity: 0; /* 평소엔 거의 안 보임 */
}

/* 클릭 중 (터치 느낌) */
.custom-cursor--active {
  width: 16px;
  height: 16px;
  opacity: 1;
}

/* 기본: 안 보이게 */
.auto-hide-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.auto-hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  transition: background-color 0.2s ease;
}

/* 스크롤 중일 때만 표시 */
.auto-hide-scrollbar.scrolling::-webkit-scrollbar-thumb {
  /* background-color: rgba(0, 0, 0, 0.25); */
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(4px);
}



.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE */
  scrollbar-width: none;     /* Firefox */
}