@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.scroll-pane {
  box-shadow:
    inset 0 8px 8px -8px rgba(0, 0, 0, 0.12),
    inset 8px 0 8px -8px rgba(0, 0, 0, 0.06);
}
